.hidden {
  display: none;
}
.show {
  display: block;
}
.list-item {
  margin-top: 10px;
  border: 1px solid red;
}

.arrow {
  position: absolute;
  left: 140px;
  font-size: 14px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.wrapper {
  display: flex;
  flex-direction: row;
}

/* input:not([value=""]){
  position: relative;
   } */
/* input[value=""] {
  color: red;
} */
/* input[type="text"] {

  width: 90px;
} */
.inp {
  position: relative;
  border-right: none;
}

.act:hover {
  background: orange;
}

.btn-search {
  transform: rotate(90deg);
}
.container-w {
  margin: 30px auto 0;
}

.list-c {
  margin-left: 450px;
}

.pos {
  margin: 30px auto 0;
}
.btn-del {
  position: absolute;
  margin-left: 80px;
  width: 10px;
  height: 10px;
  outline: none;
  background: transparent;
  border: none;
  vertical-align: middle;
}
.cityList {
  position: relative;
  margin-top: 20px;
  margin-left: 10px;
}
.btn-del-cityDelList {
  position: absolute;
  margin-left: 570px;
  margin-top: -45px;
  border: none;
  outline: none;
  background: #fff;
  z-index: 999;
}
